.sideber
  .sideber__user
    .user-name
      %p サンプルユーザー
    .user-menu
      .user-menu__edit-user
        =  link_to " " , " ", class: " class-name fa fa-edit "
      .user-menu__new__group
        = link_to " ", " ", class: " class-name fas fa-cog "
  .sideber__group
    .sideber__group--name
      .name
        サンプルグループ
      .comment
        おはようございます
    .sideber__group--name
      .name
        サンプルグループ2
      .comment
        こんにちは