.sideber
  .sideber__user
    %p サンプルユーザー
  .sideber__group
    .sideber__group--name
      .name
        サンプルグループ
      .comment
        おはようございます
    .sideber__group--name
      .name
        サンプルグループ2
      .comment
        こんにちは