= render partial: 'sideber'

.chat-main
  .chat-main__header
    .chat-main__header--group
      %p.samplegroup
        サンプルグループ
      %p.member
        Member: メンバー1,メンバー2,メンバー3
    .edit= link_to "Edit"
  .chat-main__contents
    .chat-main__contents--message
      .nickname
        %p.nickname__user サンプルユーザー
        %p.nickname__time 1111/11/11(sample) 11:11:11
      %p.comment コメント
    .chat-main__contents--message
      .nickname
      %p.nickname__user サンプルユーザー2
      %p.nickname__time 2222/22/22(sample) 22:22:22
      %p.comment コメント2
  .chat-main__form
    .new-message
      .form-message
        %input.input-box{:type => "text",:placeholder => "type a text"}
          %label.font= link_to " ", " ", class: " class-name fas fa-chart-area "
      %input.submit-btn{:type => "submit",:value => "Send"}
