= render partial: 'sideber'

.chat-main
  .chat-main__header
    .chat-main__group
      %p.samplegroup
        サンプルグループ
      %p.member
        メンバー1,メンバー2,メンバー3
    %d= link_to 'Edit'
  .chat-main__contents
    .chat-main__message
      .chat-main__nickname
        %p.chat-main__sampleuser サンプルユーザー
        %p.chat-main__time 1111/11/11(sample) 11:11:11
      %p.comment コメント
  .chat-main__form
    %form.new-message
      .chat-main__form-message
        %input.input-box{:type => "text",:placeholder => "type a text"}
          
      .chat-main__form-sent
        %input.submit-btn{:type => "submit",:value => "Send"}
